.event-home-button {
  padding: 20px;
  text-align: left;
  border: none;
  border-radius: 10px;
  background-color: #5b5b5b;
  display: flex;
  justify-content: space-between;
  color: white;
  transition: 0.2s;
}

.event-home-button:hover {
  background: white;
}
